[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Custom camera sample
[access "refs/*"]
	owner = group user/Manohar Reddy (Redman1037)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Manohar Reddy (Redman1037)
	label-Verified = -1..+1 group user/Manohar Reddy (Redman1037)
	push = group user/Manohar Reddy (Redman1037)
	read = group user/Manohar Reddy (Redman1037)
	rebase = group user/Manohar Reddy (Redman1037)
	removeReviewer = group user/Manohar Reddy (Redman1037)
	submit = group user/Manohar Reddy (Redman1037)
[access "refs/heads/*"]
	create = group user/Manohar Reddy (Redman1037)
	push = +force group user/Manohar Reddy (Redman1037)
	pushMerge = group user/Manohar Reddy (Redman1037)
	read = group user/Manohar Reddy (Redman1037)
[access "refs/tags/*"]
	push = group user/Manohar Reddy (Redman1037)
	push = +force group user/Manohar Reddy (Redman1037)
